:root,
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #0072CE !important;
    --md-primary-fg-color--light: #0072CE !important;
    --md-primary-fg-color--dark: #0072CE !important;
    --md-accent-fg-color: #0072CE !important;
}

/* Barra superior */
.md-header {
    background: #0072CE !important;
    background-color: #0072CE !important;
}

/* Barra de pestañas, si está habilitada */
.md-tabs {
    background: #0072CE !important;
    background-color: #0072CE !important;
}

/* Contenedor principal */
.md-main {
    position: relative;
    isolation: isolate;
}

.md-grid {
    max-width: 92%;
}

.md-content {
    max-width: none;
}

/* ========================================
   FIGURA CIRCULAR
   ======================================== */
/* Marca de agua genómica */
.md-main::before {
  content: "";
  position: fixed;

  right: 20%;
  bottom: -140px;

  width: min(68vw, 950px);
  height: min(68vw, 950px);

  background-image: url("../assets/GENOME_PLOT_LOGO.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  opacity: 0.30;
  mix-blend-mode: multiply;

  pointer-events: none;
  z-index: -1;
}

/* ========================================
   HÉLICE DE ADN
   ======================================== */

.md-main::after {
  content: "";
  position: fixed;

  top: -30px;
  left: -70px;

  width: 600px;
  height: 600px;

  background-image: url("../assets/dna-blanco.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;

  /* Solamente controla la opacidad del ADN */
  opacity: 0.15;
  mix-blend-mode: multiply;

  pointer-events: none;
  z-index: -1;
}


/* Mantiene el contenido encima de ambas figuras */

.md-main__inner {
  position: relative;
  z-index: 1;
}


/* Mantiene la barra azul por encima */
.md-header {
  position: relative;
  z-index: 4;
}

/* ========================================
   PANTALLAS PEQUEÑAS
   ======================================== */

@media screen and (max-width: 768px) {
    .md-main::before {
        width: 120vw;
        right: -55%;
        bottom: -15%;
        opacity: 0.07;
    }
}
