:root,
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #0072CE !important;
    --md-primary-fg-color--light: #0072CE !important;
    --md-primary-fg-color--dark: #0072CE !important;
    --md-accent-fg-color: #0072CE !important;
}

/* Barra superior */
.md-header {
    background: #0072CE !important;
    background-color: #0072CE !important;
}

/* Barra de pestañas, si está habilitada */
.md-tabs {
    background: #0072CE !important;
    background-color: #0072CE !important;
}
